.header{
    height: 50px;;
    border-bottom: 1px solid #e8e8e8;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 2;
    
}
.header-child{
    display: flex;
    flex-direction: row;
}
.header-input-txtbox{
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    width: 55%;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 0px;
    font-size: 16px;
    font-weight: 400;
    
}
.header-input-txtbox:focus{
    border-top: 1px solid blue;
    border-bottom: 0px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
}
.input-txtbox-search{
    height: 30px;
    margin-top: 10px;
    border: 1px solid #d3d3d3;
    background-color:null;
    padding: 5px;
    
    padding-left: 15px;
    padding-right: 15px;
    
}
.input-txtbox-search:hover{
    background-color:whitesmoke;
}

.header-btn-signin{
    height: 30px;
    margin-left: 30px;
    margin-top: 10px;
    color: white;
    background-color: rgb(27, 27, 172);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
.header-upload{
    height: 30px;
    margin-left: 30px;
    margin-top: 10px;
}
.header-dropdown{
    height: 30px;
    
    margin-top: 10px;
    cursor: pointer;

}

